body{
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
}
#a1{animation: ani 10s infinite;
       animation-timing-function:ease-in-out;
       animation-direction:normal;
       animation-fill-mode: forwards;
       animation-direction: alternate-reverse;
       animation-play-state: running;
    
    transition: 5s;
       background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
width: 100%;}

@keyframes ani {
    0%{
        background-image: url(AdobeStock_333661159_Preview.jpeg);
    }
    20%{
        background-image: url(AdobeStock_333661159_Preview.jpeg);
    }
    
    40%{
        background-image: url(AdobeStock_49777400_Preview.jpeg);
    }
    60%{
        background-image: url(AdobeStock_216472247_Preview.jpeg);
    }
    80%{
        background-image: url(AdobeStock_467371208_Preview.jpeg);
    }
    100%{
        background-image: url(AdobeStock_533245162_Preview.jpeg);
    
    }
}

#container{margin-top: -500px;
    margin-left: 110px;
border: 2px solid black;
padding-left: 20px;
height: fit-content;
width:250px;
border-radius: 20px;
background-color: transparent;
background:linear-gradient(to right,rgb(144, 187, 241),white);}

.user{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 40px;
font-style: italic;
font-weight: 700;
font-variant: initial;
height: fit-content;
color:rgb(11, 1, 1);}


    
